<a href="https://colab.research.google.com/github/Ayanlola2002/Data-Science-Nigeria/blob/master/Copy_of_DSN_BOOTCAMP_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#mounting Gdrive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
#pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x)) #Limiting floats output to 3 decimal points

In [ ]:
train_df=pd.read_csv('/content/drive/My Drive/DSN_BOOTCAMP/Train.csv')
test_df=pd.read_csv('/content/drive/My Drive/DSN_BOOTCAMP/Test.csv')

In [ ]:

train_df.head()

    Applicant_ID  form_field1  ...  form_field50  default_status
0  Apcnt_1000000       3436.0  ...      0.044335              no
1  Apcnt_1000004       3456.0  ...      0.322436              no
2  Apcnt_1000008       3276.0  ...      0.011640             yes
3  Apcnt_1000012       3372.0  ...      0.082729              no
4  Apcnt_1000016       3370.0  ...      0.045630              no

[5 rows x 52 columns]

In [ ]:
test_df.head()

    Applicant_ID  form_field1  ...  form_field49  form_field50
0  Apcnt_1000032       3236.0  ...      0.000000      0.011221
1  Apcnt_1000048       3284.0  ...      0.504974      0.043525
2  Apcnt_1000052          NaN  ...      0.000000           NaN
3  Apcnt_1000076       3232.0  ...      0.788809      0.104029
4  Apcnt_1000080       3466.0  ...      1.637733      0.163124

[5 rows x 51 columns]

In [ ]:

print(train_df.shape)
print(test_df.shape)

(56000, 52)
(24000, 51)

In [ ]:
Application_id=test_df['Applicant_ID']

In [ ]:
train_df.default_status.unique()

array(['no', 'yes'], dtype=object)

In [ ]:
#target varriable
train_df.loc[train_df.default_status=='no','default_status']=0
#target varriable
train_df.loc[train_df.default_status=='yes','default_status']=1

In [ ]:
#saving the order Id column and predictor column
#Application_id=test_df['Applicant_ID']
y_train=train_df.iloc[:,-1].astype('int')

In [ ]:
y_train

0        0
1        0
2        1
3        0
4        0
        ..
55995    0
55996    1
55997    0
55998    0
55999    0
Name: default_status, Length: 56000, dtype: int64

In [ ]:
#type(train_df.isnull().sum())
train_df.isnull().sum()

Applicant_ID          0
form_field1        2529
form_field2        3844
form_field3         355
form_field4         355
form_field5         355
form_field6       13360
form_field7        5163
form_field8       13360
form_field9        8008
form_field10        355
form_field11      31421
form_field12       9895
form_field13       5889
form_field14          0
form_field15      22475
form_field16      13036
form_field17      11151
form_field18      10402
form_field19          4
form_field20        355
form_field21      15854
form_field22      20400
form_field23      28123
form_field24      13297
form_field25       5450
form_field26       7438
form_field27       9299
form_field28        355
form_field29        355
form_field30      25509
form_field31      39408
form_field32       5450
form_field33       1256
form_field34        355
form_field35      23148
form_field36       1995
form_field37       5450
form_field38        355
form_field39       4211
form_field40      43729
form_field41      38229
form_field42       1323
form_field43        568
form_field44       5383
form_field45      31317
form_field46      15904
form_field47          0
form_field48      20889
form_field49        355
form_field50      11056
default_status        0
dtype: int64

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56000 entries, 0 to 55999
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Applicant_ID    56000 non-null  object
 1   form_field1     53471 non-null  float64
 2   form_field2     52156 non-null  float64
 3   form_field3     55645 non-null  float64
 4   form_field4     55645 non-null  float64
 5   form_field5     55645 non-null  float64
 6   form_field6     42640 non-null  float64
 7   form_field7     50837 non-null  float64
 8   form_field8     42640 non-null  float64
 9   form_field9     47992 non-null  float64
 10  form_field10    55645 non-null  float64
 11  form_field11    24579 non-null  float64
 12  form_field12    46105 non-null  float64
 13  form_field13    50111 non-null  float64
 14  form_field14    56000 non-null  int64
 15  form_field15    33525 non-null  float64
 16  form_field16    42964 non-null  float64
 17  form_field17    44849 non-null  float64
 18  form_field18    45598 non-null  float64
 19  form_field19    55996 non-null  float64
 20  form_field20    55645 non-null  float64
 21  form_field21    40146 non-null  float64
 22  form_field22    35600 non-null  float64
 23  form_field23    27877 non-null  float64
 24  form_field24    42703 non-null  float64
 25  form_field25    50550 non-null  float64
 26  form_field26    48562 non-null  float64
 27  form_field27    46701 non-null  float64
 28  form_field28    55645 non-null  float64
 29  form_field29    55645 non-null  float64
 30  form_field30    30491 non-null  float64
 31  form_field31    16592 non-null  float64
 32  form_field32    50550 non-null  float64
 33  form_field33    54744 non-null  float64
 34  form_field34    55645 non-null  float64
 35  form_field35    32852 non-null  float64
 36  form_field36    54005 non-null  float64
 37  form_field37    50550 non-null  float64
 38  form_field38    55645 non-null  float64
 39  form_field39    51789 non-null  float64
 40  form_field40    12271 non-null  float64
 41  form_field41    17771 non-null  float64
 42  form_field42    54677 non-null  float64
 43  form_field43    55432 non-null  float64
 44  form_field44    50617 non-null  float64
 45  form_field45    24683 non-null  float64
 46  form_field46    40096 non-null  float64
 47  form_field47    56000 non-null  object
 48  form_field48    35111 non-null  float64
 49  form_field49    55645 non-null  float64
 50  form_field50    44944 non-null  float64
 51  default_status  56000 non-null  object
dtypes: float64(48), int64(1), object(3)
memory usage: 22.2+ MB

In [ ]:
train_df.form_field40.unique()
#fill form_field40 with mean,median

array([     nan, 149.6805, 150.0135, ..., 110.334 , 178.371 , 158.025 ])

In [ ]:
train_df.form_field47.unique()

array(['charge', 'lending'], dtype=object)

In [ ]:
train_df.form_field31.unique()
#mean,median
#its also better to check the distribution with respect to some other fields.
#bivariate analysis

array([   nan, 14508.,  5202., 13413.,   273., 17430., 21990., 15879.,
       11499.,  8031., 31845., 17703., 12684., 13506.,  8943.,  4014.,
       14874.,  1917.,  9945.,  8121.,  5019.,  6024., 11955., 17064.,
       10767., 12867.,  5748.,  6114., 16152., 10584.,  6936.,  3834.,
       22629.,  6204., 10494., 15057., 15969., 21354., 20622., 18069.,
        3468.,  8670., 12135., 23451.,  4746., 10311., 16974.,  7299.,
       16791., 13869., 10404., 10677.,  5385., 10128.,  9489., 15786.,
       11316.,   822., 11772., 13140.,  8577., 12318.,  3375.,  7026.,
        6570.,  2829.,  7755.,  9399., 22083.,  1368., 10038.,   456.,
        2556., 14145.,  9765., 15696., 13779., 15603.,  1185., 15513.,
       20805.,  4929.,  2463., 14418.,  7119.,  6297., 19164., 19983.,
        8304.,  3741., 20349.,  6753.,  4653., 11679., 12501.,   729.,
       18798., 10221., 29019., 11406., 27465.,  7575., 25368., 21810.,
       14235., 17154.,  9672.,  4470., 21444., 23724., 11589.,  5109.,
       13962., 14784., 27285., 14325.,  2373.,  5565.,  5841., 17976.,
       25734., 13596., 11133.,  3924., 12774.,  4563.,  1005., 18981.,
        3102., 20439.,  7848.,   639.,  1551.,  8487., 20259., 12594.,
       16059., 28014.,  7392., 10950., 24273.,  7209.,  9582., 17886.,
       17610.,  5658., 13323.,  1824., 19344.,  5931., 13689., 16515.,
       16608., 14691.,  8394., 14601., 18159., 16881.,  6480., 22539.,
       18615., 25275.,  4836.,  1644., 29838., 15240., 18249., 15330.,
       19620.,  4380.,  6843.,  7938., 24363.,  2919., 11223.,  5292.,
       18888., 19254., 16698., 12045., 19710., 22449., 24546., 38598.,
        1734., 10860.,   912.,  4197.,  4107.,  3195., 15420.,  1278.,
        2190., 20895., 12411., 23178., 12228.,  9216., 24819.,  3651.,
       20988.,  7665., 14964., 17793., 20076., 21534.,  5475.,  2646.,
        4290., 21900., 23634., 27558., 19893., 13230.,  9309.,  2007.,
       11862., 18432., 13050.,  2739.,  7482., 22356.,     0.,  3558.,
        6660., 28104., 11040.,  8214., 29382.,  9855., 33306., 22266.,
       23085., 15147., 26553., 18705., 20715., 17247., 27924.,   549.,
        6387.,  8760., 21717.,  9033., 32211., 29109., 29565., 17337.,
        8850., 21078.,  2100., 20532., 16335., 18525., 19437.,    90.,
       12957., 24456., 30477., 26463., 24639.,  9126., 14052.,  1095.,
       19800., 22905.,  3012., 21171., 16425.,  1461., 25185., 21261.,
       34401., 18342., 23544., 23907., 22812., 28653., 19071.,  2280.,
       30021., 22722., 29748., 28560., 26829., 33672., 30843., 35589.,
       25002., 21627., 27009.,   366., 24729., 31389., 28197., 26736.,
       27375., 16242., 23817., 39054., 19527., 17520., 25824., 33033.,
       27648., 31299., 23268., 25458., 42066.,  3285., 28836., 36135.,
       29655., 29292., 27192., 37959., 24090., 26007., 22173., 30204.,
       28926., 23361., 20166., 32484., 22995., 26097., 27831., 25914.,
       27102., 32304., 43617., 37869., 24912., 33762., 30387.,   183.,
       32121., 35952., 32667., 26919., 30114., 25641., 37047., 29475.,
       28743., 32760., 36957., 28380., 31026., 29199., 24000., 28470.,
       26280., 26190., 25095., 31482., 30660., 35406., 29931., 24180.,
       31572., 37413., 31755., 35223., 47085., 30570., 28287., 32850.,
       26646., 30294., 26370., 37779., 34311., 32394., 31116., 30933.,
       34128., 31665., 31938., 25551., 32577., 30750., 27741., 36225.,
       34218., 33123., 33216., 32940., 37686., 31209., 36864., 39876.,
       33399., 44073., 36408.])

In [ ]:
(train_df.form_field6.isnull().sum()/len(train_df))*100

23.857142857142858

In [ ]:
#filling field6 and field7 nan values with zeros
train_df.fillna({'form_field6':0,'form_field7':0},inplace=True)
test_df.fillna({'form_field6':0,'form_field7':0},inplace=True)

In [ ]:
#Now drop the  'Id' colum since it's unnecessary for  the prediction process.
train_df.drop("Applicant_ID", axis = 1, inplace = True)
test_df.drop("Applicant_ID", axis = 1, inplace = True)

In [ ]:
# let's delete the last column from the dataset to  concat train and test
train_df = train_df.drop(['default_status'], axis = 1)

In [ ]:
train_df.shape

(56000, 50)

In [ ]:
# lets concat the train and test sets for preprocessing and visualizations
all_data = pd.concat([train_df, test_df], axis = 0)

# let's check the shape
all_data.shape

(80000, 50)

In [ ]:
#separate categorical varriable from numerical varriable
#data_numeric =all_data[[f for f in all_data.columns if all_data.dtypes[f] != 'object']]


#data_categorical =pd.DataFrame(all_data[[f for f in all_data.columns if all_data.dtypes[f] == 'object']],columns=['form_field47'])

In [ ]:
categorical_columns = []
numeric_columns = []
for c in all_data.columns:
    if all_data[c].map(type).eq(str).any(): #check if there are any strings in column
        categorical_columns.append(c)
    else:
        numeric_columns.append(c)

#create two DataFrames, one for each data type
data_numeric = all_data[numeric_columns]
data_categorical = pd.DataFrame(all_data[categorical_columns])


from sklearn.impute import SimpleImputer
imp =SimpleImputer(missing_values=np.nan, strategy='mean')
data_numeric = pd.DataFrame(imp.fit_transform(data_numeric), columns = data_numeric.columns) #only apply imputer to numeric columns
data_numeric.reset_index(drop=True, inplace=True)
data_categorical.reset_index(drop=True, inplace=True)

#you could do something like one-hot-encoding of data_categorical here

#join the two masked dataframes back together
#data_joined = pd.concat([data_numeric, data_categorical], axis = 1)

In [ ]:
categorical_columns = []
numeric_columns = []
for c in all_data.columns:
    if all_data[c].map(type).eq(str).any(): #check if there are any strings in column
        categorical_columns.append(c)
    else:
        numeric_columns.append(c)

#create two DataFrames, one for each data type
data_numeric = all_data[numeric_columns]
data_categorical = pd.DataFrame(all_data[categorical_columns])


from sklearn.impute import KNNImputer
imp= KNNImputer()
data_numeric = pd.DataFrame(imp.fit_transform(data_numeric), columns = data_numeric.columns) #only apply imputer to numeric columns
data_numeric.reset_index(drop=True, inplace=True)
data_categorical.reset_index(drop=True, inplace=True)

#you could do something like one-hot-encoding of data_categorical here

#join the two masked dataframes back together
#data_joined = pd.concat([data_numeric, data_categorical], axis = 1)

In [ ]:
print(data_categorical.shape)
print(data_numeric.shape)

(80000, 1)
(80000, 49)

In [ ]:
#join the two masked dataframes back together
data_joined = pd.concat([data_numeric, data_categorical], axis = 1)

In [ ]:
data_joined.shape

(80000, 50)

In [ ]:
'''
from sklearn.impute import SimpleImputer
imp =SimpleImputer(missing_values=np.nan, strategy='mean')
data_numeric = pd.DataFrame(imp.fit_transform(data_numeric), columns = data_numeric.columns) #only apply imputer to numeric columns
#you could do something like one-hot-encoding of data_categorical here
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data_categorical['form_field47'] = le.fit_transform(data_categorical['form_field47'])
# removing unnecassary columns

#all_data = all_data.drop(['form_field47'], axis = 1)
'''

"\nfrom sklearn.impute import SimpleImputer\nimp =SimpleImputer(missing_values=np.nan, strategy='mean')\ndata_numeric = pd.DataFrame(imp.fit_transform(data_numeric), columns = data_numeric.columns) #only apply imputer to numeric columns\n#you could do something like one-hot-encoding of data_categorical here\nfrom sklearn.preprocessing import LabelEncoder\nle = LabelEncoder()\ndata_categorical['form_field47'] = le.fit_transform(data_categorical['form_field47'])\n# removing unnecassary columns\n\n#all_data = all_data.drop(['form_field47'], axis = 1)\n"

In [ ]:

data_joined

       form_field1  form_field2  ...   form_field50  form_field47
0           3436.0      0.28505  ...       0.044335        charge
1           3456.0      0.67400  ...       0.322436        charge
2           3276.0      0.53845  ...       0.011640        charge
3           3372.0      0.17005  ...       0.082729        charge
4           3370.0      0.77270  ...       0.045630        charge
...            ...          ...  ...            ...           ...
79995       3258.0      0.37925  ...  622857.957728        charge
79996       3514.0      0.95260  ...       0.930931        charge
79997       3302.0      0.05755  ...  622857.957728        charge
79998       3334.0      0.75670  ...       0.023749        charge
79999       3324.0      0.44840  ...       0.391927        charge

[80000 rows x 50 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data_joined['form_field47'] = le.fit_transform(data_joined['form_field47'])
# removing unnecassary columns

data_joined =data_joined.drop(['form_field47'], axis = 1)

In [ ]:

# separating train and test datasets from data

x_train = data_joined.iloc[:56000,:]
x_test = data_joined.iloc[56000:,:]

# checking the shape of train and test
print("Shape of train :", x_train.shape)
print("Shape of test :", x_test.shape)

Shape of train : (56000, 49)
Shape of test : (24000, 49)

In [ ]:
# train and valid sets from train
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size = 0.2, random_state = 0)

# checking the shapes
print(x_train.shape)
print(y_train.shape)
print(x_valid.shape)
print(y_valid.shape)

(44800, 49)
(44800,)
(11200, 49)
(11200,)

In [ ]:

# standardization techniques

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_valid = sc.transform(x_valid)
x_test = sc.transform(x_test)

In [ ]:
# Appllying RANDOM FOREST CLASSIFIER
'''
import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

model_rf = RandomForestClassifier()
model_rf.fit(x_train, y_train)

y_pred = model_rf.predict(x_valid)

print("Training Accuracy: ", model_rf.score(x_train, y_train))
print('Testing Accuarcy: ', model_rf.score(x_valid, y_valid))

# making a classification report
cr = classification_report(y_valid,  y_pred)
print(cr)

# making a confusion matrix
cm = confusion_matrix(y_valid, y_pred)
sns.heatmap(cm, annot = True)

y_pred = model_rf.predict(x_test)
'''

'\nimport seaborn as sns\nfrom sklearn.ensemble import RandomForestClassifier\nfrom sklearn.metrics import confusion_matrix\nfrom sklearn.metrics import classification_report\n\nmodel_rf = RandomForestClassifier()\nmodel_rf.fit(x_train, y_train)\n\ny_pred = model_rf.predict(x_valid)\n\nprint("Training Accuracy: ", model_rf.score(x_train, y_train))\nprint(\'Testing Accuarcy: \', model_rf.score(x_valid, y_valid))\n\n# making a classification report\ncr = classification_report(y_valid,  y_pred)\nprint(cr)\n\n# making a confusion matrix\ncm = confusion_matrix(y_valid, y_pred)\nsns.heatmap(cm, annot = True)\n\ny_pred = model_rf.predict(x_test)\n'

In [ ]:
# Appllying Xgboost CLASSIFIER
import seaborn as sns
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#model_xg = XGBClassifier()
model_xg = XGBClassifier(
 learning_rate =0.1,
 n_estimators=200,
 max_depth=7,
 min_child_weight=2,
 gamma=0.2,
 subsample=0.9,
 colsample_bytree=0.7,
 reg_alpha=0.05,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=1,
 seed=27)
model_xg.fit(x_train, y_train)

y_pred = model_xg.predict_proba(x_valid)[:,1]

print("Training Accuracy: ", model_xg.score(x_train, y_train))
print('Testing Accuarcy: ', model_xg.score(x_valid, y_valid))

# making a classification report
#cr = classification_report(y_valid,  y_pred)
#print(cr)

# making a confusion matrix
#cm = confusion_matrix(y_valid, y_pred)
#sns.heatmap(cm, annot = True)

y_pred = model_xg.predict_proba(x_test)[:,1]

Training Accuracy:  0.8820089285714285
Testing Accuarcy:  0.8060714285714285

In [ ]:

#Prepare our Submission file
my_submission = pd.DataFrame({'Application ID':Application_id, 'default_status':y_pred})
my_submission.to_csv('submission_ayanlola_formfield6_71.csv', index=False)