<a href="https://colab.research.google.com/github/Ayanlola2002/Data-Science-Nigeria/blob/master/DSN_BOOTCAMP_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
#mounting Gdrive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [79]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x)) #Limiting floats output to 3 decimal points

In [80]:

train_df=pd.read_csv('/content/drive/My Drive/DSN_BOOTCAMP/Train.csv')
test_df=pd.read_csv('/content/drive/My Drive/DSN_BOOTCAMP/Test.csv')

In [81]:
train_df.head(50)

     Applicant_ID  form_field1  ...  form_field50  default_status
0   Apcnt_1000000     3436.000  ...         0.044              no
1   Apcnt_1000004     3456.000  ...         0.322              no
2   Apcnt_1000008     3276.000  ...         0.012             yes
3   Apcnt_1000012     3372.000  ...         0.083              no
4   Apcnt_1000016     3370.000  ...         0.046              no
5   Apcnt_1000020     3724.000  ...           nan              no
6   Apcnt_1000024     3350.000  ...         0.004             yes
7   Apcnt_1000028     3416.000  ...         0.128              no
8   Apcnt_1000036     3376.000  ...         0.010              no
9   Apcnt_1000040     3310.000  ...           nan             yes
10  Apcnt_1000044     3488.000  ...         0.033              no
11  Apcnt_1000056     3536.000  ...         0.066              no
12  Apcnt_1000060     3732.000  ...         0.748              no
13  Apcnt_1000064     3168.000  ...         0.007              no
14  Apcnt_1000068     3256.000  ...           nan              no
15  Apcnt_1000072     3688.000  ...         0.529              no
16  Apcnt_1000088     3348.000  ...         0.018             yes
17  Apcnt_1000092     3504.000  ...         0.078              no
18  Apcnt_1000096     3460.000  ...         0.584             yes
19  Apcnt_1000100     3484.000  ...         0.012              no
20  Apcnt_1000108     3316.000  ...         0.272              no
21  Apcnt_1000112     3506.000  ...         0.482              no
22  Apcnt_1000120     3148.000  ...           nan             yes
23  Apcnt_1000124     3334.000  ...         0.007              no
24  Apcnt_1000132     3312.000  ...         0.003              no
25  Apcnt_1000136     3430.000  ...         0.003              no
26  Apcnt_1000140     3498.000  ...         0.992              no
27  Apcnt_1000144     3698.000  ...         0.111              no
28  Apcnt_1000148     3376.000  ...         0.025              no
29  Apcnt_1000152     3284.000  ...         0.297             yes
30  Apcnt_1000160     3264.000  ...         0.126              no
31  Apcnt_1000164     3494.000  ...           nan              no
32  Apcnt_1000168     3286.000  ...         0.004             yes
33  Apcnt_1000172     3338.000  ...           nan             yes
34  Apcnt_1000176     3452.000  ...         0.052              no
35  Apcnt_1000180     3626.000  ...         1.273              no
36  Apcnt_1000184     3408.000  ...         0.223              no
37  Apcnt_1000188     3706.000  ...         0.598              no
38  Apcnt_1000196     3614.000  ...         0.367              no
39  Apcnt_1000200     3646.000  ...         0.248              no
40  Apcnt_1000204     3338.000  ...           nan              no
41  Apcnt_1000212     3410.000  ...         0.002              no
42  Apcnt_1000216     3500.000  ...         0.120              no
43  Apcnt_1000220     3540.000  ...         0.043              no
44  Apcnt_1000224     3552.000  ...         0.357              no
45  Apcnt_1000228     3462.000  ...           nan              no
46  Apcnt_1000232     3214.000  ...         0.167              no
47  Apcnt_1000236     3492.000  ...         2.516              no
48  Apcnt_1000240     3656.000  ...         0.076              no
49  Apcnt_1000244     3416.000  ...           nan              no

[50 rows x 52 columns]

In [82]:
print(train_df.shape)
print(test_df.shape)

(56000, 52)
(24000, 51)

In [83]:
train_df.isnull().sum()

Applicant_ID          0
form_field1        2529
form_field2        3844
form_field3         355
form_field4         355
form_field5         355
form_field6       13360
form_field7        5163
form_field8       13360
form_field9        8008
form_field10        355
form_field11      31421
form_field12       9895
form_field13       5889
form_field14          0
form_field15      22475
form_field16      13036
form_field17      11151
form_field18      10402
form_field19          4
form_field20        355
form_field21      15854
form_field22      20400
form_field23      28123
form_field24      13297
form_field25       5450
form_field26       7438
form_field27       9299
form_field28        355
form_field29        355
form_field30      25509
form_field31      39408
form_field32       5450
form_field33       1256
form_field34        355
form_field35      23148
form_field36       1995
form_field37       5450
form_field38        355
form_field39       4211
form_field40      43729
form_field41      38229
form_field42       1323
form_field43        568
form_field44       5383
form_field45      31317
form_field46      15904
form_field47          0
form_field48      20889
form_field49        355
form_field50      11056
default_status        0
dtype: int64

In [85]:
test_df.head()

    Applicant_ID  form_field1  ...  form_field49  form_field50
0  Apcnt_1000032     3236.000  ...         0.000         0.011
1  Apcnt_1000048     3284.000  ...         0.505         0.044
2  Apcnt_1000052          nan  ...         0.000           nan
3  Apcnt_1000076     3232.000  ...         0.789         0.104
4  Apcnt_1000080     3466.000  ...         1.638         0.163

[5 rows x 51 columns]

In [86]:

print(train_df.isnull().any(axis=0).sum())
print(test_df.isnull().any(axis=0).sum())

48
47

In [87]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

missing_values_table(train_df)

Your selected dataframe has 52 columns.
There are 48 columns that have missing values.

              Missing Values  % of Total Values
form_field40           43729             78.100
form_field31           39408             70.400
form_field41           38229             68.300
form_field11           31421             56.100
form_field45           31317             55.900
form_field23           28123             50.200
form_field30           25509             45.600
form_field35           23148             41.300
form_field15           22475             40.100
form_field48           20889             37.300
form_field22           20400             36.400
form_field46           15904             28.400
form_field21           15854             28.300
form_field6            13360             23.900
form_field8            13360             23.900
form_field24           13297             23.700
form_field16           13036             23.300
form_field17           11151             19.900
form_field50           11056             19.700
form_field18           10402             18.600
form_field12            9895             17.700
form_field27            9299             16.600
form_field9             8008             14.300
form_field26            7438             13.300
form_field13            5889             10.500
form_field25            5450              9.700
form_field32            5450              9.700
form_field37            5450              9.700
form_field44            5383              9.600
form_field7             5163              9.200
form_field39            4211              7.500
form_field2             3844              6.900
form_field1             2529              4.500
form_field36            1995              3.600
form_field42            1323              2.400
form_field33            1256              2.200
form_field43             568              1.000
form_field34             355              0.600
form_field20             355              0.600
form_field10             355              0.600
form_field29             355              0.600
form_field28             355              0.600
form_field5              355              0.600
form_field4              355              0.600
form_field3              355              0.600
form_field49             355              0.600
form_field38             355              0.600
form_field19               4              0.000

In [88]:
missing_values_table(test_df)

Your selected dataframe has 51 columns.
There are 47 columns that have missing values.

              Missing Values  % of Total Values
form_field40           18828             78.400
form_field31           16810             70.000
form_field41           16349             68.100
form_field45           13538             56.400
form_field11           13398             55.800
form_field23           12125             50.500
form_field30           10908             45.400
form_field35            9866             41.100
form_field15            9592             40.000
form_field48            8922             37.200
form_field22            8724             36.400
form_field46            6885             28.700
form_field21            6707             27.900
form_field24            5605             23.400
form_field8             5604             23.400
form_field6             5604             23.400
form_field16            5474             22.800
form_field50            4797             20.000
form_field17            4695             19.600
form_field18            4369             18.200
form_field12            4183             17.400
form_field27            3910             16.300
form_field9             3400             14.200
form_field26            3172             13.200
form_field13            2463             10.300
form_field44            2362              9.800
form_field25            2256              9.400
form_field32            2256              9.400
form_field37            2256              9.400
form_field7             2231              9.300
form_field39            1829              7.600
form_field2             1709              7.100
form_field1             1110              4.600
form_field36             903              3.800
form_field42             578              2.400
form_field33             495              2.100
form_field43             250              1.000
form_field34             147              0.600
form_field28             147              0.600
form_field10             147              0.600
form_field20             147              0.600
form_field29             147              0.600
form_field38             147              0.600
form_field5              146              0.600
form_field4              146              0.600
form_field3              146              0.600
form_field49             146              0.600

In [72]:
#drop rows with na values
#df.dropna(how='any',axis=0)

        Applicant_ID  form_field1  ...  form_field50  default_status
84     Apcnt_1000436     3494.000  ...         0.384              no
401    Apcnt_1002348     3506.000  ...         0.161             yes
624    Apcnt_1003640     3496.000  ...         0.170              no
835    Apcnt_1004876     3518.000  ...         0.084              no
1192   Apcnt_1006888     3538.000  ...         0.374              no
...              ...          ...  ...           ...             ...
54728   Apcnt_992900     3502.000  ...         0.256              no
55252   Apcnt_995820     3362.000  ...         0.094              no
55407   Apcnt_996648     3412.000  ...         0.032             yes
55565   Apcnt_997532     3504.000  ...  23690491.441              no
55635   Apcnt_997960     3518.000  ...         0.245              no

[195 rows x 52 columns]

In [73]:
#df.isnull().sum()

Applicant_ID          0
form_field1        2529
form_field2        3844
form_field3         355
form_field4         355
form_field5         355
form_field6       13360
form_field7        5163
form_field8       13360
form_field9        8008
form_field10        355
form_field11      31421
form_field12       9895
form_field13       5889
form_field14          0
form_field15      22475
form_field16      13036
form_field17      11151
form_field18      10402
form_field19          4
form_field20        355
form_field21      15854
form_field22      20400
form_field23      28123
form_field24      13297
form_field25       5450
form_field26       7438
form_field27       9299
form_field28        355
form_field29        355
form_field30      25509
form_field31      39408
form_field32       5450
form_field33       1256
form_field34        355
form_field35      23148
form_field36       1995
form_field37       5450
form_field38        355
form_field39       4211
form_field40      43729
form_field41      38229
form_field42       1323
form_field43        568
form_field44       5383
form_field45      31317
form_field46      15904
form_field47          0
form_field48      20889
form_field49        355
form_field50      11056
default_status        0
dtype: int64

In [92]:
col_list_train=train_df.isnull().sum().loc[(train_df.isnull().sum())>0].index.tolist()
col_list_train

['form_field1',
 'form_field2',
 'form_field3',
 'form_field4',
 'form_field5',
 'form_field6',
 'form_field7',
 'form_field8',
 'form_field9',
 'form_field10',
 'form_field11',
 'form_field12',
 'form_field13',
 'form_field15',
 'form_field16',
 'form_field17',
 'form_field18',
 'form_field19',
 'form_field20',
 'form_field21',
 'form_field22',
 'form_field23',
 'form_field24',
 'form_field25',
 'form_field26',
 'form_field27',
 'form_field28',
 'form_field29',
 'form_field30',
 'form_field31',
 'form_field32',
 'form_field33',
 'form_field34',
 'form_field35',
 'form_field36',
 'form_field37',
 'form_field38',
 'form_field39',
 'form_field40',
 'form_field41',
 'form_field42',
 'form_field43',
 'form_field44',
 'form_field45',
 'form_field46',
 'form_field48',
 'form_field49',
 'form_field50']

In [93]:
col_list_test=train_df.isnull().sum().loc[(train_df.isnull().sum())>0].index.tolist()
col_list_test

['form_field1',
 'form_field2',
 'form_field3',
 'form_field4',
 'form_field5',
 'form_field6',
 'form_field7',
 'form_field8',
 'form_field9',
 'form_field10',
 'form_field11',
 'form_field12',
 'form_field13',
 'form_field15',
 'form_field16',
 'form_field17',
 'form_field18',
 'form_field19',
 'form_field20',
 'form_field21',
 'form_field22',
 'form_field23',
 'form_field24',
 'form_field25',
 'form_field26',
 'form_field27',
 'form_field28',
 'form_field29',
 'form_field30',
 'form_field31',
 'form_field32',
 'form_field33',
 'form_field34',
 'form_field35',
 'form_field36',
 'form_field37',
 'form_field38',
 'form_field39',
 'form_field40',
 'form_field41',
 'form_field42',
 'form_field43',
 'form_field44',
 'form_field45',
 'form_field46',
 'form_field48',
 'form_field49',
 'form_field50']

In [95]:
train_df=train_df.dropna(subset=col_list_train)
train_df

        Applicant_ID  form_field1  ...  form_field50  default_status
84     Apcnt_1000436     3494.000  ...         0.384              no
401    Apcnt_1002348     3506.000  ...         0.161             yes
624    Apcnt_1003640     3496.000  ...         0.170              no
835    Apcnt_1004876     3518.000  ...         0.084              no
1192   Apcnt_1006888     3538.000  ...         0.374              no
...              ...          ...  ...           ...             ...
54728   Apcnt_992900     3502.000  ...         0.256              no
55252   Apcnt_995820     3362.000  ...         0.094              no
55407   Apcnt_996648     3412.000  ...         0.032             yes
55565   Apcnt_997532     3504.000  ...  23690491.441              no
55635   Apcnt_997960     3518.000  ...         0.245              no

[195 rows x 52 columns]

In [97]:
test_df=test_df.dropna(subset=col_list_test)
test_df

        Applicant_ID  form_field1  ...  form_field49  form_field50
33     Apcnt_1000552     3356.000  ...         0.561         0.031
156    Apcnt_1002000     3474.000  ...         0.000         0.381
319    Apcnt_1004096     3404.000  ...         8.491         0.231
411    Apcnt_1005208     3358.000  ...         0.323         0.077
1218   Apcnt_1016428     3154.000  ...         0.101         0.124
...              ...          ...  ...           ...           ...
23132   Apcnt_987692     3414.000  ...         0.000         0.004
23189   Apcnt_988508     3372.000  ...         0.622         0.010
23350   Apcnt_990596     3500.000  ...         5.214         0.198
23445   Apcnt_992120     3468.000  ...         0.088         0.078
23929   Apcnt_999012     3454.000  ...         7.000         0.109

[81 rows x 51 columns]

In [98]:
train_df.isnull().sum()

Applicant_ID      0
form_field1       0
form_field2       0
form_field3       0
form_field4       0
form_field5       0
form_field6       0
form_field7       0
form_field8       0
form_field9       0
form_field10      0
form_field11      0
form_field12      0
form_field13      0
form_field14      0
form_field15      0
form_field16      0
form_field17      0
form_field18      0
form_field19      0
form_field20      0
form_field21      0
form_field22      0
form_field23      0
form_field24      0
form_field25      0
form_field26      0
form_field27      0
form_field28      0
form_field29      0
form_field30      0
form_field31      0
form_field32      0
form_field33      0
form_field34      0
form_field35      0
form_field36      0
form_field37      0
form_field38      0
form_field39      0
form_field40      0
form_field41      0
form_field42      0
form_field43      0
form_field44      0
form_field45      0
form_field46      0
form_field47      0
form_field48      0
form_field49      0
form_field50      0
default_status    0
dtype: int64

In [99]:
test_df.isnull().sum()

Applicant_ID    0
form_field1     0
form_field2     0
form_field3     0
form_field4     0
form_field5     0
form_field6     0
form_field7     0
form_field8     0
form_field9     0
form_field10    0
form_field11    0
form_field12    0
form_field13    0
form_field14    0
form_field15    0
form_field16    0
form_field17    0
form_field18    0
form_field19    0
form_field20    0
form_field21    0
form_field22    0
form_field23    0
form_field24    0
form_field25    0
form_field26    0
form_field27    0
form_field28    0
form_field29    0
form_field30    0
form_field31    0
form_field32    0
form_field33    0
form_field34    0
form_field35    0
form_field36    0
form_field37    0
form_field38    0
form_field39    0
form_field40    0
form_field41    0
form_field42    0
form_field43    0
form_field44    0
form_field45    0
form_field46    0
form_field47    0
form_field48    0
form_field49    0
form_field50    0
dtype: int64

In [ ]:
#removing the order Id column and predictor column
Application_id=test_df['Applicant_ID']
y_train=train_df.iloc[:,-1]

In [ ]:
#Now drop the  'Id' colum since it's unnecessary for  the prediction process.
train.drop("EmployeeNo", axis = 1, inplace = True)
test.drop("EmployeeNo", axis = 1, inplace = True)