<a href="https://colab.research.google.com/github/Ayanlola2002/Data-Science-Nigeria/blob/master/DSN_BOOTCAMP_2020_knnImputer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [292]:
#mounting Gdrive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [293]:
import pandas as pd
import numpy as np
#pd.set_option('display.float_format', lambda x: '{:.3f}'.format(x)) #Limiting floats output to 3 decimal points

In [294]:
train_df=pd.read_csv('/content/drive/My Drive/DSN_BOOTCAMP/Train.csv')
test_df=pd.read_csv('/content/drive/My Drive/DSN_BOOTCAMP/Test.csv')

In [295]:

train_df.head()

    Applicant_ID  form_field1  ...  form_field50  default_status
0  Apcnt_1000000       3436.0  ...      0.044335              no
1  Apcnt_1000004       3456.0  ...      0.322436              no
2  Apcnt_1000008       3276.0  ...      0.011640             yes
3  Apcnt_1000012       3372.0  ...      0.082729              no
4  Apcnt_1000016       3370.0  ...      0.045630              no

[5 rows x 52 columns]

In [296]:
test_df.head()

    Applicant_ID  form_field1  ...  form_field49  form_field50
0  Apcnt_1000032       3236.0  ...      0.000000      0.011221
1  Apcnt_1000048       3284.0  ...      0.504974      0.043525
2  Apcnt_1000052          NaN  ...      0.000000           NaN
3  Apcnt_1000076       3232.0  ...      0.788809      0.104029
4  Apcnt_1000080       3466.0  ...      1.637733      0.163124

[5 rows x 51 columns]

In [297]:
Application_id=test_df['Applicant_ID']

In [298]:
 train_df.dropna(thresh=train_df.shape[1]*0.7,how='all',axis=0,inplace=True)

In [299]:

print(train_df.shape)
print(test_df.shape)

(45546, 52)
(24000, 51)

In [300]:
train_df.shape

(45546, 52)

In [301]:
train_df.default_status.unique()

array(['no', 'yes'], dtype=object)

In [302]:
#target varriable
train_df.loc[train_df.default_status=='no','default_status']=0
#target varriable
train_df.loc[train_df.default_status=='yes','default_status']=1

In [303]:
#saving the order Id column and predictor column
#Application_id=test_df['Applicant_ID']
y_train=train_df.iloc[:,-1].astype('int')

In [304]:
y_train

0        0
1        0
2        1
3        0
4        0
        ..
55993    0
55995    0
55996    1
55997    0
55999    0
Name: default_status, Length: 45546, dtype: int64

In [305]:
#type(train_df.isnull().sum())
train_df.isnull().sum()

Applicant_ID          0
form_field1         170
form_field2        2612
form_field3           0
form_field4           0
form_field5           0
form_field6        3106
form_field7         118
form_field8        3106
form_field9         992
form_field10          0
form_field11      29154
form_field12        799
form_field13       1256
form_field14          0
form_field15      16929
form_field16       2845
form_field17       1372
form_field18       1169
form_field19          0
form_field20          0
form_field21       5629
form_field22      10604
form_field23      17894
form_field24       3338
form_field25        210
form_field26        724
form_field27       1744
form_field28          0
form_field29          0
form_field30      18536
form_field31      32140
form_field32        210
form_field33        793
form_field34          0
form_field35      13464
form_field36        936
form_field37        210
form_field38          0
form_field39         10
form_field40      35363
form_field41      29182
form_field42        412
form_field43         48
form_field44        640
form_field45      22550
form_field46      10620
form_field47          0
form_field48      10715
form_field49          0
form_field50       3572
default_status        0
dtype: int64

In [306]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45546 entries, 0 to 55999
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Applicant_ID    45546 non-null  object
 1   form_field1     45376 non-null  float64
 2   form_field2     42934 non-null  float64
 3   form_field3     45546 non-null  float64
 4   form_field4     45546 non-null  float64
 5   form_field5     45546 non-null  float64
 6   form_field6     42440 non-null  float64
 7   form_field7     45428 non-null  float64
 8   form_field8     42440 non-null  float64
 9   form_field9     44554 non-null  float64
 10  form_field10    45546 non-null  float64
 11  form_field11    16392 non-null  float64
 12  form_field12    44747 non-null  float64
 13  form_field13    44290 non-null  float64
 14  form_field14    45546 non-null  int64
 15  form_field15    28617 non-null  float64
 16  form_field16    42701 non-null  float64
 17  form_field17    44174 non-null  float64
 18  form_field18    44377 non-null  float64
 19  form_field19    45546 non-null  float64
 20  form_field20    45546 non-null  float64
 21  form_field21    39917 non-null  float64
 22  form_field22    34942 non-null  float64
 23  form_field23    27652 non-null  float64
 24  form_field24    42208 non-null  float64
 25  form_field25    45336 non-null  float64
 26  form_field26    44822 non-null  float64
 27  form_field27    43802 non-null  float64
 28  form_field28    45546 non-null  float64
 29  form_field29    45546 non-null  float64
 30  form_field30    27010 non-null  float64
 31  form_field31    13406 non-null  float64
 32  form_field32    45336 non-null  float64
 33  form_field33    44753 non-null  float64
 34  form_field34    45546 non-null  float64
 35  form_field35    32082 non-null  float64
 36  form_field36    44610 non-null  float64
 37  form_field37    45336 non-null  float64
 38  form_field38    45546 non-null  float64
 39  form_field39    45536 non-null  float64
 40  form_field40    10183 non-null  float64
 41  form_field41    16364 non-null  float64
 42  form_field42    45134 non-null  float64
 43  form_field43    45498 non-null  float64
 44  form_field44    44906 non-null  float64
 45  form_field45    22996 non-null  float64
 46  form_field46    34926 non-null  float64
 47  form_field47    45546 non-null  object
 48  form_field48    34831 non-null  float64
 49  form_field49    45546 non-null  float64
 50  form_field50    41974 non-null  float64
 51  default_status  45546 non-null  object
dtypes: float64(48), int64(1), object(3)
memory usage: 18.4+ MB

In [307]:
train_df.form_field40.unique()
#fill form_field40 with mean,median

array([     nan, 149.6805, 150.0135, ..., 110.334 , 178.371 , 158.025 ])

In [308]:
train_df.form_field47.unique()

array(['charge', 'lending'], dtype=object)

In [309]:
train_df.form_field31.unique()
#mean,median
#its also better to check the distribution with respect to some other fields.
#bivariate analysis

array([   nan, 14508.,  5202., 17430., 21990., 11499.,  8031., 31845.,
       17703., 13506.,  8943.,  4014.,  1917.,  9945.,  5019., 15879.,
        6024., 11955., 17064., 10767., 12867.,  6114., 13413., 16152.,
       10584.,  6936., 12684., 22629.,  6204., 10494., 15057., 15969.,
       20622., 18069.,  3468.,  8670., 12135., 23451.,  4746., 10311.,
       16974.,  7299., 16791., 10404., 10677., 10128.,  9489., 15786.,
       11316.,   822., 11772., 13140.,  3834.,  8577., 13869., 12318.,
        3375.,  7026.,  2829.,  7755., 22083.,  1368.,  9399.,  5385.,
       10038., 14145., 15696., 13779.,  1185., 20805.,  4929.,  2463.,
       14418.,  7119.,  6297., 19164., 19983.,  8304.,  3741.,  6753.,
        4653., 11679., 12501.,   729., 18798., 10221., 29019., 11406.,
         273., 27465., 25368., 15513., 14235., 17154.,  9672.,  4470.,
       21444., 23724.,  5109., 13962., 14784., 14325.,  2373.,  5565.,
       13596.,  3924., 12774.,  4563.,  1005., 18981.,  3102., 20439.,
       11133.,   639.,  1551., 20259., 16059., 28014.,  7392., 24273.,
        7209.,  9582., 17886.,  5658., 13323.,  1824., 19344.,  5931.,
       13689., 16515., 16608., 14691.,  8394., 15603., 14601., 18159.,
       16881.,  6480., 22539., 18615., 25275.,  4836.,  1644., 29838.,
       15240., 18249., 15330., 19620.,  6843.,  7938., 24363.,  2919.,
        7848.,  5292.,   456., 18888., 19254.,  9765., 16698., 12045.,
       22449.,  6570., 20349., 24546., 38598.,  1734., 11223., 10860.,
         912.,  2556.,  3195., 15420.,  1278., 17976., 21354., 11589.,
        2190., 20895.,  8121., 12411., 12228., 12594., 17610.,  9216.,
       24819.,  3651., 20988., 10950., 14874.,  7665., 14964., 17793.,
       20076., 21534.,  5475.,  2646.,  4290., 21900., 23634., 19893.,
       19710.,  5748., 13230.,  9309., 11862., 18432., 13050.,  7482.,
       22356.,  2739.,  5841.,  6660., 28104., 11040.,  8214.,  4380.,
       29382.,  4107.,  9855., 33306., 22266., 23085., 15147., 26553.,
       18705., 20715., 17247.,  8487., 27924.,  6387.,  8760.,  9033.,
       32211., 29109., 29565., 17337.,  3558.,  7575.,  8850., 21078.,
       20532., 16335., 18525., 19437.,    90., 12957., 24456., 30477.,
       26463., 24639.,  9126., 14052.,  1095.,   549., 19800., 22905.,
        3012., 21171., 16425.,  2007., 25185., 18342., 23544., 23907.,
       22812., 28653., 19071.,  2280.,  2100.,  4197., 30021., 22722.,
       29748., 28560., 26829., 23178., 33672., 35589., 25002., 21627.,
       27009.,   366., 24729., 31389., 34401., 28197., 26736., 27375.,
       21717.,  1461., 16242., 23817., 39054., 19527., 17520., 25824.,
       33033.,     0., 27648., 21810., 31299., 23268., 25458., 42066.,
       28836., 21261., 36135., 29655., 27558., 29292., 27192., 24090.,
       26007., 22173., 30204., 28926., 23361., 20166., 32484., 30843.,
       22995.,  3285., 26097., 27831., 32304., 43617., 25914., 37869.,
       24912., 30387.,   183., 27285., 32667., 26919., 30114., 25641.,
       37047., 28743., 32760., 36957., 28380., 31026., 24000., 28470.,
       26280., 26190., 25095., 31482., 30660., 35406., 29931., 24180.,
       31572., 25734., 37413., 31755., 35223., 47085., 28287., 32850.,
       30294., 27102., 26370., 37779., 34311., 32394., 26646., 30933.,
       34128., 31665., 31938., 25551., 32577., 30750., 27741., 36225.,
       34218., 33123., 33216., 30570., 29199., 29475., 37686., 31209.,
       36864., 39876., 33399., 36408.])

In [310]:
(train_df.form_field6.isnull().sum()/len(train_df))*100

6.819479207833838

In [311]:
#filling field6 and field7 nan values with zeros
train_df.fillna({'form_field6':0,'form_field7':0},inplace=True)
test_df.fillna({'form_field6':0,'form_field7':0},inplace=True)

In [312]:
#Now drop the  'Id' colum since it's unnecessary for  the prediction process.
train_df.drop("Applicant_ID", axis = 1, inplace = True)
test_df.drop("Applicant_ID", axis = 1, inplace = True)

In [313]:
# let's delete the last column from the dataset to  concat train and test
train_df = train_df.drop(['default_status'], axis = 1)

In [314]:
train_df.shape

(45546, 50)

In [315]:
# lets concat the train and test sets for preprocessing and visualizations
all_data = pd.concat([train_df, test_df], axis = 0)

# let's check the shape
all_data.shape

(69546, 50)

In [316]:
categorical_columns = []
numeric_columns = []
for c in all_data.columns:
    if all_data[c].map(type).eq(str).any(): #check if there are any strings in column
        categorical_columns.append(c)
    else:
        numeric_columns.append(c)

#create two DataFrames, one for each data type
data_numeric = all_data[numeric_columns]
data_categorical = pd.DataFrame(all_data[categorical_columns])


#from sklearn.experimental import enable_iterative_imputer
#from sklearn.impute import IterativeImputer
#imp= IterativeImputer()
from sklearn.impute import SimpleImputer
imp =SimpleImputer(missing_values=np.nan, strategy='mean')
data_numeric = pd.DataFrame(imp.fit_transform(data_numeric), columns = data_numeric.columns) #only apply imputer to numeric columns
data_numeric.reset_index(drop=True, inplace=True)
data_categorical.reset_index(drop=True, inplace=True)

#you could do something like one-hot-encoding of data_categorical here

#join the two masked dataframes back together
#data_joined = pd.concat([data_numeric, data_categorical], axis = 1)

In [317]:
print(data_categorical.shape)
print(data_numeric.shape)

(69546, 1)
(69546, 49)

In [318]:
#join the two masked dataframes back together
data_joined = pd.concat([data_numeric, data_categorical], axis = 1)

In [319]:
data_joined.shape

(69546, 50)

In [320]:
'''
from sklearn.impute import SimpleImputer
imp =SimpleImputer(missing_values=np.nan, strategy='mean')
data_numeric = pd.DataFrame(imp.fit_transform(data_numeric), columns = data_numeric.columns) #only apply imputer to numeric columns
#you could do something like one-hot-encoding of data_categorical here
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data_categorical['form_field47'] = le.fit_transform(data_categorical['form_field47'])
# removing unnecassary columns

#all_data = all_data.drop(['form_field47'], axis = 1)
'''

"\nfrom sklearn.impute import SimpleImputer\nimp =SimpleImputer(missing_values=np.nan, strategy='mean')\ndata_numeric = pd.DataFrame(imp.fit_transform(data_numeric), columns = data_numeric.columns) #only apply imputer to numeric columns\n#you could do something like one-hot-encoding of data_categorical here\nfrom sklearn.preprocessing import LabelEncoder\nle = LabelEncoder()\ndata_categorical['form_field47'] = le.fit_transform(data_categorical['form_field47'])\n# removing unnecassary columns\n\n#all_data = all_data.drop(['form_field47'], axis = 1)\n"

In [321]:

data_joined

       form_field1  form_field2  ...   form_field50  form_field47
0           3436.0      0.28505  ...       0.044335        charge
1           3456.0      0.67400  ...       0.322436        charge
2           3276.0      0.53845  ...       0.011640        charge
3           3372.0      0.17005  ...       0.082729        charge
4           3370.0      0.77270  ...       0.045630        charge
...            ...          ...  ...            ...           ...
69541       3258.0      0.37925  ...  647295.770789        charge
69542       3514.0      0.95260  ...       0.930931        charge
69543       3302.0      0.05755  ...  647295.770789        charge
69544       3334.0      0.75670  ...       0.023749        charge
69545       3324.0      0.44840  ...       0.391927        charge

[69546 rows x 50 columns]

In [322]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
data_joined['form_field47'] = le.fit_transform(data_joined['form_field47'])
# removing unnecassary columns

data_joined =data_joined.drop(['form_field47'], axis = 1)

In [323]:

# separating train and test datasets from data

x_train = data_joined.iloc[:45546,:]
x_test = data_joined.iloc[45546:,:]

# checking the shape of train and test
print("Shape of train :", x_train.shape)
print("Shape of test :", x_test.shape)

Shape of train : (45546, 49)
Shape of test : (24000, 49)

In [324]:
# train and valid sets from train
from sklearn.model_selection import train_test_split

x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size = 0.2, random_state = 0)

# checking the shapes
print(x_train.shape)
print(y_train.shape)
print(x_valid.shape)
print(y_valid.shape)

(36436, 49)
(36436,)
(9110, 49)
(9110,)

In [325]:

# standardization techniques

from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_valid = sc.transform(x_valid)
x_test = sc.transform(x_test)

In [326]:
#import numpy as np
#import pandas as pd

from hyperopt import hp, tpe
from hyperopt.fmin import fmin

from sklearn.model_selection import cross_val_score, StratifiedKFold
#from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer

In [327]:

'''#gini functions
def gini(truth, predictions):
    g = np.asarray(np.c_[truth, predictions, np.arange(len(truth)) ], dtype=np.float)
    g = g[np.lexsort((g[:,2], -1*g[:,1]))]
    gs = g[:,0].cumsum().sum() / g[:,0].sum()
    gs -= (len(truth) + 1) / 2.
    return gs / len(truth)

def gini_xgb(predictions, truth):
    truth = truth.get_label()
    return 'gini', -1.0 * gini(truth, predictions) / gini(truth, truth)

def gini_lgb(truth, predictions):
    score = gini(truth, predictions) / gini(truth, truth)
    return 'gini', score, True

def gini_sklearn(truth, predictions):
    return gini(truth, predictions) / gini(truth, truth)

gini_scorer = make_scorer(gini_sklearn, greater_is_better=True, needs_proba=True)'''

"#gini functions\ndef gini(truth, predictions):\n    g = np.asarray(np.c_[truth, predictions, np.arange(len(truth)) ], dtype=np.float)\n    g = g[np.lexsort((g[:,2], -1*g[:,1]))]\n    gs = g[:,0].cumsum().sum() / g[:,0].sum()\n    gs -= (len(truth) + 1) / 2.\n    return gs / len(truth)\n\ndef gini_xgb(predictions, truth):\n    truth = truth.get_label()\n    return 'gini', -1.0 * gini(truth, predictions) / gini(truth, truth)\n\ndef gini_lgb(truth, predictions):\n    score = gini(truth, predictions) / gini(truth, truth)\n    return 'gini', score, True\n\ndef gini_sklearn(truth, predictions):\n    return gini(truth, predictions) / gini(truth, truth)\n\ngini_scorer = make_scorer(gini_sklearn, greater_is_better=True, needs_proba=True)"

In [328]:
#tuning xgboost
'''
def objective(params):
    params = {
        'max_depth': int(params['max_depth']),
        'gamma': "{:.3f}".format(params['gamma']),
        'colsample_bytree': '{:.3f}'.format(params['colsample_bytree']),
    }
    
    clf = XGBClassifier(
        n_estimators=200,
        learning_rate=0.05,
        n_jobs=4,
        **params
    )
    
    score = cross_val_score(clf,x_train, y_train, scoring=gini_scorer, cv=StratifiedKFold()).mean()
    print("Gini {:.3f} params {}".format(score, params))
    return score

space = {
    'max_depth': hp.quniform('max_depth', 2, 8, 1),
    'colsample_bytree': hp.uniform('colsample_bytree', 0.3, 1.0),
    'min_child_weight': hp.uniform('min_child_weight', 1, 6),
    'gamma': hp.uniform('gamma', 0.0, 0.5),
    'reg_alpha': hp.uniform('reg_alpha', 0.01, 0.07)
}

best = fmin(fn=objective,
            space=space,
            algo=tpe.suggest,
            max_evals=10)

'''

'\ndef objective(params):\n    params = {\n        \'max_depth\': int(params[\'max_depth\']),\n        \'gamma\': "{:.3f}".format(params[\'gamma\']),\n        \'colsample_bytree\': \'{:.3f}\'.format(params[\'colsample_bytree\']),\n    }\n    \n    clf = XGBClassifier(\n        n_estimators=200,\n        learning_rate=0.05,\n        n_jobs=4,\n        **params\n    )\n    \n    score = cross_val_score(clf,x_train, y_train, scoring=gini_scorer, cv=StratifiedKFold()).mean()\n    print("Gini {:.3f} params {}".format(score, params))\n    return score\n\nspace = {\n    \'max_depth\': hp.quniform(\'max_depth\', 2, 8, 1),\n    \'colsample_bytree\': hp.uniform(\'colsample_bytree\', 0.3, 1.0),\n    \'min_child_weight\': hp.uniform(\'min_child_weight\', 1, 6),\n    \'gamma\': hp.uniform(\'gamma\', 0.0, 0.5),\n    \'reg_alpha\': hp.uniform(\'reg_alpha\', 0.01, 0.07)\n}\n\nbest = fmin(fn=objective,\n            space=space,\n            algo=tpe.suggest,\n            max_evals=10)\n\n'

In [329]:
#optimum parameter for xgboost
#print("Hyperopt estimated optimum {}".format(best))

In [330]:
# Appllying RANDOM FOREST CLASSIFIER

import seaborn as sns
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

model_rf = RandomForestClassifier(n_estimators=250,
                                max_depth=7,
                                random_state=1,
                                n_jobs=1)
model_rf.fit(x_train, y_train)

y_pred = model_xg.predict_proba(x_valid)[:,1]

print("Training Accuracy: ", model_rf.score(x_train, y_train))
print('Testing Accuarcy: ', model_rf.score(x_valid, y_valid))

# making a classification report
#cr = classification_report(y_valid,  y_pred)
#print(cr)

# making a confusion matrix
#cm = confusion_matrix(y_valid, y_pred)
#sns.heatmap(cm, annot = True)

y_pred = model_xg.predict_proba(x_test)[:,1]

Training Accuracy:  0.8342847733011307
Testing Accuarcy:  0.8236004390779363

In [331]:
# Appllying Xgboost CLASSIFIER
#import seaborn as sns
#from xgboost import XGBClassifier
#from sklearn.metrics import confusion_matrix
#from sklearn.metrics import classification_report

#model_xg = XGBClassifier()
'''model_xg = XGBClassifier(
 learning_rate =0.1,
 n_estimators=200,
 max_depth=4,
 min_child_weight=7.0,
 gamma=0.3,
 subsample=0.9,
 colsample_bytree=0.9,
 reg_alpha=0.03,
 objective= 'binary:logistic',
 seed=20
 )'''

#model_xg.fit(x_train, y_train)

#y_pred = model_xg.predict_proba(x_valid)[:,1]

#print("Training Accuracy: ", model_xg.score(x_train, y_train))
#print('Testing Accuarcy: ', model_xg.score(x_valid, y_valid))

# making a classification report
#cr = classification_report(y_valid,  y_pred)
#print(cr)

# making a confusion matrix
#cm = confusion_matrix(y_valid, y_pred)
#sns.heatmap(cm, annot = True)

#y_pred = model_xg.predict_proba(x_test)[:,1]

"model_xg = XGBClassifier(\n learning_rate =0.1,\n n_estimators=200,\n max_depth=4,\n min_child_weight=7.0,\n gamma=0.3,\n subsample=0.9,\n colsample_bytree=0.9,\n reg_alpha=0.03,\n objective= 'binary:logistic',\n seed=20\n )"

In [332]:

#Prepare our Submission file
my_submission = pd.DataFrame({'Application ID':Application_id, 'default_status':y_pred})
my_submission.to_csv('submission_ayanlolaRf_simple_median_hyperopt_70percent.csv', index=False)